*{

margin:0;
padding:0;

box-sizing:border-box;

}



body{

height:100vh;

overflow:hidden;

background:

radial-gradient(circle,#28152b,#020205);

font-family:Georgia,serif;

color:white;

}



#estrellas{

position:absolute;

width:100%;

height:100%;

}



.estrella{

position:absolute;

background:white;

border-radius:50%;

animation:brillar 4s infinite;

}



.contenido{

position:relative;

z-index:2;

height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



.corazon{

font-size:130px;

animation:latido 2s infinite;

filter:drop-shadow(0 0 25px #ff334f);

}



h1{

font-size:75px;

color:#ffd86b;

margin-top:20px;

opacity:0;

animation:aparecer 3s forwards;

animation-delay:1s;

}



#mensaje{

font-size:28px;

max-width:850px;

line-height:1.8;

margin-top:40px;

min-height:160px;

}



.firma{

font-size:28px;

font-style:italic;

margin-top:50px;

color:#ffd86b;

opacity:0;

animation:aparecer 3s forwards;

animation-delay:8s;

}

#continuar{

    display:none;

    margin-top:45px;

    padding:18px 45px;

    background:#8b1e2d;

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-size:22px;

    transition:.4s;

    box-shadow:0 0 25px rgba(255,80,120,.5);

}

#continuar:hover{

    background:#b3263c;

    transform:scale(1.08);

}

@keyframes aparecerBoton{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}


@keyframes latido{


0%,100%{

transform:scale(1);

}


50%{

transform:scale(1.2);

}


}



@keyframes brillar{


0%,100%{

opacity:.2;

}


50%{

opacity:1;

}


}



@keyframes aparecer{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}