*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

min-height:100vh;

background:

radial-gradient(circle,#382438,#090909);

font-family:Georgia,serif;

color:white;

padding:50px 20px;

}



.contenedor{

text-align:center;

}



h1{

font-size:60px;

color:#ffd86b;

margin-bottom:20px;

animation:aparecer 2s ease;

}



.descripcion{

font-size:22px;

margin-bottom:50px;

color:#eee;

}



.galeria{


display:grid;

grid-template-columns:

repeat(auto-fit,minmax(230px,1fr));


gap:40px;

max-width:1200px;

margin:auto;


}



/* Fotos */

.foto{


background:#f8efd9;

padding:15px;

color:#333;

box-shadow:

0 15px 35px rgba(0,0,0,.5);


animation:subir 1s ease;


transition:.5s;


}



.foto:hover{


transform:

translateY(-15px)

rotate(0deg)

scale(1.05);


}



.foto:nth-child(even){

transform:rotate(4deg);

}


.foto:nth-child(odd){

transform:rotate(-4deg);

}



.foto img{


width:100%;

height:250px;

object-fit:cover;


}



.foto p{


font-size:18px;

font-family:cursive;

margin-top:15px;

}



.boton{


display:inline-block;


margin-top:60px;


padding:18px 50px;


background:#a61e35;


border-radius:40px;


color:white;


text-decoration:none;


font-size:22px;


transition:.3s;


box-shadow:

0 0 25px rgba(166,30,53,.6);


}



.boton:hover{


transform:scale(1.1);


background:#d12645;


}



@keyframes subir{


from{


opacity:0;

transform:translateY(50px);


}


to{


opacity:1;

}


}



@keyframes aparecer{


from{

opacity:0;

}


to{

opacity:1;

}


}