*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#3d2b1f;

font-family:Georgia, serif;

overflow:hidden;

}

.container{

text-align:center;

color:white;

}

h2{

font-size:35px;

margin-bottom:15px;

font-weight:normal;

}

p{

font-size:22px;

margin-bottom:15px;

opacity:.9;

}

span{

font-size:18px;

opacity:.6;

display:block;

margin-bottom:60px;

}

/* Sobre */

.envelope{

position:relative;

width:340px;

height:220px;

margin:auto;

cursor:pointer;

transition:.5s;

}

.envelope:hover{

transform:scale(1.04);

}

/* Parte inferior */

.letter{

position:absolute;

bottom:0;

width:100%;

height:100%;

background:#efe5d0;

border-radius:6px;

}

/* Tapa */

.cover{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:#d6c4a6;

clip-path:polygon(0 0,50% 55%,100% 0,100% 100%,0 100%);

transform-origin:top;

transition:1s;

z-index:4;

}

/* Sello */

.seal{

position:absolute;

left:50%;

top:50%;

transform:translate(-50%,-50%);

width:65px;

height:65px;

background:#8b0000;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

z-index:5;

transition:.8s;

box-shadow:0 0 20px rgba(0,0,0,.3);

}

/* Animación */

.open .cover{

transform:rotateX(180deg);

}

.open .seal{

transform:translate(-50%,-120px) scale(.4);

opacity:0;

}

.open .letter{

animation:subir 2s forwards;

}

@keyframes subir{

0%{

transform:translateY(0);

}

100%{

transform:translateY(-170px);

}

}